.main-container {
    margin: 20px 4%;
    text-align: center;
}

@media screen and (min-width: 700px) {

    .main-container {
        padding: 2% 0 10% 0;
        .sections {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .first-row {
                width: 100%;
                display: flex;
                margin-bottom: 3%;

                .section {
                    width: 46%;
                    margin: 0 2%;
                }
            }

            .second-row {
                width: 100%;
                display: flex;

                .section {
                    width: 32%;
                    margin: 0 1%;
                }
            }
        }
    }
}