video {
    object-fit: cover;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.text-container {
    color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {font-size: 42px}
    h3 {font-size: 20px}

    .button-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}

@media only screen and (min-width: 700px) {
    .text-container {
        h1 {font-size: 58px}
        h3 {margin-bottom: 30px;}
        
        .button-container {
            flex-direction: row;

            button {
                height: 50px;
                width: 200px;
                margin: 10px;
            }
        }
    }
}